:root {
    --dark: #424242;
    --primary__bg__color: #ff900e1a;
    --button__color: #FF900E;
    --button__text_color: #FFFFFF;
    --footer__bg_color: #FFF4E7;
}

/* default browser style reseting */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary__bg__color);
}

/* navbar styling CSS start here */
nav {
    font-family: work sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0 8.44rem;
    color: var(--dark);
    margin-bottom: 7rem;
    padding-top: 4px;
}

nav h1 {
    font-weight: 700;
    /* font-size: 2.8rem; */
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

nav ul li {
    list-style: none;
    /* font-size: 1.125rem; */
    font-weight: 500;
}

/* navbar styling CSS end  */


/* banner styling CSS start  */
.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 360px;
}

.banner__title {
    font-weight: 700;
    font-size: 4rem;
}

.btn__style {
    font-weight: 600;
    padding: 1.25em 2.25em;
    background-color: var(--button__color);
    color: var(--button__text_color);
    border: none;
    border-radius: 0.5rem;

    margin: 2em 0;
}

.banner__image img {
    width: 80vw;
    margin: 0 8.44rem;
}

/* banner styling CSS end  */


/* quick list feature section styling CSS start  */
.feature__section {
    margin: 75px 135px;
    width: 1152px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
}

.feature__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.feature__images img {
    width: 342px;
    height: 342px;
}

.feature__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#fea__tit__part {
    color: #727272;
}

#feature__title_part {
    color: var(--button__color);
}

/* quick list feature section styling CSS end  */

.feature_section_love__enjoy {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.25rem;
    margin-bottom: 8rem;
}

.feature_section_love_enjoy_text {
    background-color: rgba(246, 244, 244, 0.109);
}

.feature__left__border {
    border-left: 4.5px solid var(--button__color);
    margin-bottom: 2rem;
}

.feature__left__border h1 {
    font-weight: 900;
    font-size: 45px;
    font-family: 'Work Sans';
    padding-left: 0.25em;
}

.feature_love__text_block {
    display: flex;
    flex-direction: column;
}

.feature_text_card {
    margin: 1rem 1.25rem;
    padding: 0.75rem 1.25rem;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.feature_section_love_enjoy_image {
    position: relative;
}

.feature_section_love_enjoy_image img {
    width: 38vw;
}

#btn__position {
    position: absolute;
    left: -51px;
    padding: 2em 3.5em;
    bottom: -77px;
}

#btn__position h1 {
    font-weight: 900;
    font-size: 45px;
}


/* some facts section  */
.some_facts_section {
    width: 80vw;
    margin: 0 auto;
}

.some_fact_text h1 {
    font-weight: 700;
    font-size: 28px;
}

.reaward_and_review_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6rem;
}

.awards_card {
    margin: 4em 0;
    box-shadow: 0.02em 0.02em, -0.01em 0 .04em;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    border: solid var(--button__color) 1.5px;
    padding: 2em 3em;
}

.awards_card:hover {
    background-color: rgba(248, 232, 185, 0.916);
    transform: box-shadow 0.1s;
    transform-box: view-box;
}

/* sponspors section  */
.sponspors {
    width: 80vw;
    margin: 0 auto;
}

.sponspors__text {
    text-align: center;
}

.sponspors__text h1 {
    font-weight: 900;
    font-size: 2.5em;
    margin: 0.5em 0;
}

.sponspors__logo__section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 4em 0;
}

/* footer styling  */
footer {
    width: 80vw;
    margin: 7.5em auto;
    height: 4em;
    background-color: var(--footer__bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
}